.close {
position: absolute;
    right: 32px;
    top: 32px;
    min-width: 32px;
    min-height: 32px;
    opacity: 1;
    border: #E0F1E4 1px solid;
    border-radius: 6px;
    padding: 5px;
    background-color: #E0F1E4;
}
.close:hover {
    cursor: pointer;
}

.close:before,
.close:after {
    position: absolute;
        opacity: 0.7;
        left: 15px;
        top: 10px;
        content: ' ';
        height: 10px;
        width: 1.25px;
        background-color: rgb(41, 135, 54);
}

.close:before {
    transform: rotate(90deg);
}

.close:after {
    transform: rotate(-0deg);
}
