.open {
    position: absolute;
    right: 32px;
    top: 32px;
    min-width: 32px;
    min-height: 32px;
    border: #E0F1E4 1px solid;
    border-radius: 6px;
    padding: 5px;
    background-color: #E0F1E4;
}

.open:hover {
    cursor: pointer;
}

.image_open {
    opacity: 0.8;
    width: 8px;
    transform: rotate(45deg)
}